<!DOCTYPE HTML>
<html>
  <head>
    <title>{{ site.title }} | {{ page.title }}</title>
    <link href=
      "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
     rel="stylesheet"
     integrity=
      "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
     crossorigin="anonymous">
    <link
     href="{{ "/assets/site.css" | prepend: site.baseurl }}"
     rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="header">
      <div class="container">
        <h1>
          <a href="{{ site.baseurl }}/">{{ site.title }}</a>
          <small>/
            <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
          </small>
        </h1>
      </div>
    </div>
    <div class="container">
