{% include header.html %}
  <div class="row body">
    <div class="col-xs-12">
      {{ page.content | markdownify }}
    </div>
  </div>
  <div class="gallery row">
    {% for challenge in site.challenges %}
    <div class="col-xs-12 col-md-3">
      <a href="{{ site.baseurl }}{{ challenge.url }}" class="image">
        <img
         src="{{ challenge.image | default: "/assets/blank.png" }}"
         alt="{{ challenge.title }} header image"
        />
      </a>
      <div class="title">
        <strong>{{ challenge.title }}</strong>
        <a href="{{ site.baseurl }}{{ challenge.url }}">Go to challenge</a>
      </div>
      {{ challenge.content | markdownify | truncatewords: 20 }}
    </div>
    <div class="gap hidden-xs hidden-sm col-md-1"></div>
    {% endfor %}
  </div>
{% include footer.html %}
